@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
  line-height: 1.6;
}

* {
  @apply transition-colors duration-300;
}

button,a {
  @apply focus:outline-none hover:cursor-pointer ;
}

input, textarea, select {
  @apply focus:outline-none;
}
